<a href="https://colab.research.google.com/github/aLL3H/amostragem/blob/main/Amostragem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Carregamento da Base de Dados

In [ ]:
import pandas as pd
import random
import numpy as np

In [ ]:
dataset = pd.read_csv('credit_data.csv')

In [ ]:
dataset.shape

(2000, 5)

In [ ]:
dataset.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [ ]:
dataset.tail()

      i#clientid        income        age         loan  c#default
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

### Amostragem Aleatória Simples

In [ ]:
df_amostra_aleatoria_simples = dataset.sample(n = 1000, random_state = 1)

In [ ]:
df_amostra_aleatoria_simples.shape

(1000, 5)

In [ ]:
df_amostra_aleatoria_simples.head()

      i#clientid        income        age         loan  c#default
674          675  34158.633968  29.421142  2911.408067          0
1699        1700  25789.742025  45.316211  4442.331780          0
1282        1283  59589.064289  20.609764  4191.715856          0
1315        1316  49908.291867  29.550940  2903.036128          0
1210        1211  69132.462579  33.471182  7621.410219          0

In [ ]:
def amostragem_aleatoria_simples(dataset, amostras):
  return dataset.sample(n = amostras, random_state = 1)

In [ ]:
df_amostra_aleatoria_simples = amostragem_aleatoria_simples(dataset, 1000)
df_amostra_aleatoria_simples.shape

(1000, 5)

### Amostragem Sistemática

In [ ]:
def amostragem_sistematica(dataset, amostras):
  intervalo = len(dataset) // amostras
  random.seed(1)
  inicio = random.randint(0, intervalo)
  indices = np.arange(inicio, len(dataset), step = intervalo)
  amostra_sistematica = dataset.iloc[indices]
  return amostra_sistematica

In [ ]:
df_amostra_sistematica = amostragem_sistematica(dataset, 1000)
df_amostra_sistematica.shape

(1000, 5)

In [ ]:
df_amostra_sistematica.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
2           3  57317.170063  63.108049  8020.953296          0
4           5  66952.688845  18.584336  8770.099235          1
6           7  48430.359613  26.809132  5722.581981          0
8           9  40654.892537  55.496853  4755.825280          0

In [ ]:
df_amostra_sistematica.tail()

      i#clientid        income        age         loan  c#default
1990        1991  34237.575419  34.101654  2658.090632          0
1992        1993  30803.806165  23.250084   623.024153          0
1994        1995  24254.700791  37.751622  2225.284643          0
1996        1997  69516.127573  23.162104  3503.176156          0
1998        1999  43756.056605  63.971796  1622.722598          0

### Amostragem por Grupos

In [ ]:
def amostragem_agrupamento(dataset, numero_grupos):
  intervalo = len(dataset) / numero_grupos

  grupos = []
  id_grupo = 0
  contagem = 0
  for _ in dataset.iterrows():
    grupos.append(id_grupo)
    contagem += 1
    if contagem > intervalo:
      contagem = 0
      id_grupo += 1

  dataset['grupo'] = grupos
  random.seed(1)
  grupo_selecionado = random.randint(0, numero_grupos)
  return dataset[dataset['grupo'] == grupo_selecionado]

In [ ]:
len(dataset) / 2

1000.0

In [ ]:
df_amostra_agrupamento = amostragem_agrupamento(dataset, 2)
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupo'].value_counts()

((1001, 6), 0    1001
 Name: grupo, dtype: int64)

In [ ]:
df_amostra_agrupamento.head()

   i#clientid        income        age         loan  c#default  grupo
0           1  66155.925095  59.017015  8106.532131          0      0
1           2  34415.153966  48.117153  6564.745018          0      0
2           3  57317.170063  63.108049  8020.953296          0      0
3           4  42709.534201  45.751972  6103.642260          0      0
4           5  66952.688845  18.584336  8770.099235          1      0

### Amostra Estratificada

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
dataset['c#default'].value_counts()

0    1717
1     283
Name: c#default, dtype: int64

In [ ]:
split = StratifiedShuffleSplit(test_size=0.5)
for x, y in split.split(dataset, dataset['c#default']):
  df_x = dataset.iloc[x]
  df_y = dataset.iloc[y]

In [ ]:
df_x.shape, df_y.shape

((1000, 5), (1000, 5))

In [ ]:
df_y.head()

      i#clientid        income        age         loan  c#default
1190        1191  59621.367643  54.150619  7014.622708          0
1554        1555  34113.113284  30.833562  6360.154897          1
118          119  34507.527906  38.587783  1793.750255          0
1891        1892  42994.682239  36.425611  4453.824617          0
0              1  66155.925095  59.017015  8106.532131          0

In [ ]:
df_y['c#default'].value_counts()

0    858
1    142
Name: c#default, dtype: int64

In [ ]:
def amostragem_estratificada(dataset, percentual, campo):
  split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
  for _, y in split.split(dataset, dataset['c#default']):
    df_y = dataset.iloc[y]
  return df_y

In [ ]:
df_amostra_estratificada = amostragem_estratificada(dataset, 0.5, 'c#default')
df_amostra_estratificada.shape

(1000, 5)

### Amostra de Reservatório

In [ ]:
def amostragem_reservatorio(dataset, amostras):
  stream = []
  for i in range(len(dataset)):
    stream.append(i)

  i = 0
  tamanho = len(dataset)

  reservatorio = [0] * amostras
  for i in range(amostras):
    reservatorio[i] = stream[i]

  while i < tamanho:
    j = random.randrange(i + 1)
    if j < amostras:
      reservatorio[j] = stream[i]
    i += 1

  return dataset.iloc[reservatorio]

In [ ]:
df_amostragem_reservatorio = amostragem_reservatorio(dataset, 1000)
df_amostragem_reservatorio.shape

(1000, 5)